#root{
  display: flex;
  min-height: 100vh;
  flex-direction: column;	
}
#root > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
nav .nav-wrapper {
  max-width:75rem;	 margin:0 auto;
}
.list-item{
	display:flex;
	flex:1;
	margin-bottom:1rem; margin-top:1rem; padding:.625rem;
	border:1px solid #d1d3d4;
}
.wrapper-content{
	display:flex;
	flex-direction:column;
	margin-left:1rem;
}
.wrapper-content .title{
	font-size:1.875rem;
}
#map {
  height: 300px;
}
 
@media screen and (min-width: 1024px){
    #map {
        height: 500px;
    }
}